name: 연습

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: 저장소 확인
        uses: actions/checkout@v3
      
      - name: Python 환경설정
        uses: actions/setup-python@v5

      - name: Install dependencies
        run: |
          pip install --upgrade pip

      - name: Run Python
        run: python app.py